<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;plist version="1.0"&gt;
&lt;string&gt;To scan nearest iBeacons&lt;/string&gt;
&lt;/plist&gt;
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;plist version="1.0"&gt;
&lt;string&gt;To scan nearest iBeacons&lt;/string&gt;
&lt;/plist&gt;
NSLocationAlwaysUsageDescription - 2</key>
	<string>To scan nearest iBeacons</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Blue</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>9.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fbAPP-ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.973405547698-3j46smm2u72nmom8njbqv0532dph43db</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>social.blue.app</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>profiles.blue</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-973405547698-ios-eb493e4029c175024b6dab</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>179423690916969</string>
	<key>FacebookClientToken</key>
	<string>d0addbf3e961d7017b6a906a9c98a56d</string>
	<key>FacebookDisplayName</key>
	<string>Blue Social</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://links.profiles.blue</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Allow access to Bluetooth for NearbyInteraction to connect with other nearby users.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow access to Bluetooth for NearbyInteraction to connect with other nearby users.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_blueService._tcp</string>
		<string>_blueService._udp</string>
		<string>_bonjour._tcp</string>
		<string>_lnp._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Blue needs access to your camera for profile photos or qr code activations.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Contacts to share with friends nearby.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Allow Bluetooth to connect with users nearby.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>We use local network to interact with other nearby devices.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow to access location to keep track of where your interactions take place.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow to access location to keep track of where your interactions take place.</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow Bluetooth to connect with users nearby.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow to access location to keep track of where your interactions take place.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We ask for permission to use your microphone to create a screen recording used to help give us feedback to improve your user experience</string>
	<key>NSNearbyInteractionAllowOnceUsageDescription</key>
	<string>We use Nearby Interactions to interact with other nearby devices.</string>
	<key>NSNearbyInteractionUsageDescription</key>
	<string>We use Nearby Interactions to interact with other nearby devices.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We use your photos for your user profile and to share feedback about the application</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use your photos for your user profile and to share feedback about the application</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.social.blue.app</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>MyApp</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>Privacy - Contacts Usage Description</key>
	<string>Allow Contacts to share with friends nearby.</string>
	<key>Privacy - Contacts Usage Description </key>
	<string>To share your profile to your contacts</string>
	<key>UIAppFonts</key>
	<array>
		<string>Comfortaa-Bold.ttf</string>
		<string>Comfortaa-Light.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Comfortaa-Medium.ttf</string>
		<string>Comfortaa-SemiBold.ttf</string>
		<string>RedHatDisplay-BlackItalic.ttf</string>
		<string>RedHatDisplay-Black.ttf</string>
		<string>RedHatDisplay-ExtraBold.ttf</string>
		<string>RedHatDisplay-MediumItalic.ttf</string>
		<string>RedHatDisplay-SemiBoldItalic.ttf</string>
		<string>RedHatDisplay-Italic.ttf</string>
		<string>RedHatDisplay-Bold.ttf</string>
		<string>RedHatDisplay-LightItalic.ttf</string>
		<string>RedHatDisplay-ExtraBoldItalic.ttf</string>
		<string>RedHatDisplay-Medium.ttf</string>
		<string>RedHatDisplay-SemiBold.ttf</string>
		<string>RedHatDisplay-BoldItalic.ttf</string>
		<string>RedHatDisplay-Light.ttf</string>
		<string>RedHatDisplay-Regular.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIApplicationSupportsMultipleScenes</key>
	<string>NO</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Login</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_iugv5zXn1JXi9w8kciWYgpagzAahfVNO</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>invite.blue.social</string>
		<string>applinks:86cdf-alternate.app.link</string>
		<string>applinks:86cdf.app.link</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
	</array>
</dict>
</plist>
