<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973405547698-3j46smm2u72nmom8njbqv0532dph43db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973405547698-3j46smm2u72nmom8njbqv0532dph43db</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>973405547698-0t208iep4u2hjgr8ihekjgag42iqlaeq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMNUb26NLAjNOChXCwZqun9H6rldJcsmM</string>
	<key>GCM_SENDER_ID</key>
	<string>973405547698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>social.blue.app</string>
	<key>PROJECT_ID</key>
	<string>blue-social-networking-card</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-social-networking-card.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:973405547698:ios:eb493e4029c175024b6dab</string>
	<key>DATABASE_URL</key>
	<string>https://blue-social-networking-card.firebaseio.com</string>
</dict>
</plist>
